<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>Bienvenido {{user}}</h1>
      <p>Aqui podrás encontrar todos los casos asignados</p>
      <a href="/">Return to home</a>
    </div>
  </div>
</div>